# The key is kept here as its free. Grab it if u want !! who cares about it :P
VITE_TMDB_API_KEY=959312a447b152fcab0b8f19f42f7991
# If expires, get your own key from https://www.themoviedb.org/documentation/api and replace the above value with your key.